Practica[0-9]/docs/main.aux
Practica[0-9]/docs/main.fdb_latexmk
Practica[0-9]/docs/main.fls
Practica[0-9]/docs/main.log
Practica[0-9]/docs/main.out
Practica[0-9]/docs/main.pdf
Practica[0-9]/docs/main.synctex.gz
*.code-workspace
