Practica1/docs/main.aux
Practica1/docs/main.fdb_latexmk
Practica1/docs/main.fls
Practica1/docs/main.log
Practica1/docs/main.out
Practica1/docs/main.pdf
Practica1/docs/main.synctex.gz
*.code-workspace
